@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
* {
  font-family: 'Source Sans Pro', sans-serif;
}
#PanelLeft {
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0;
  width: 200px;
  background-color: #333333;
  overflow: auto;
  color: #ccc;
  padding-left: 20px;
  padding-top: 20px;
}
#PanelLeft ul {
  margin: 0;
  padding-left: 5px;
  list-style-type: none;
}
#PanelLeft ul li {
  margin-right: 10px;
  font-weight: 600;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  color: #ccc;
  cursor: pointer;
  border-radius: 5px;
}
#PanelLeft ul li:hover {
  background-color: #4d4d4d;
  -webkit-transition: background-color 50ms;
}
#PanelLeft ul li.actif {
  background-color: #86b410;
  color: #fff;
  -webkit-transition: background-color 100ms;
}
